@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kantinens Menu for uge 45</h1>
    <table>
        <tr>
            <th>Dag</th>
            <th>varm ret</th>
            <th>kold ret</th>
        </tr>
        <tr>
            <td>Mandag</td>
            <td>Kylling</td>
            <td>ægsalat</td>
        </tr>
        <tr>
            <td>Tirsdag</td>
            <td>Lasagne</td>
            <td>Forloren hare</td>
        </tr>
        <tr>
            <td>Onsdag</td>
            <td>smørebrød</td>
            <td>Grøntsagssuppe</td>
            </tr>
            <tr>
                <td>Torsdag</td>
				<td>Grøntsagssuppe</td>
				<td>smørebrød</td>
                </tr>
			<tr>
				<td>Fredag</td>
                <td>Forloren hare</td>
                <td>Lasagne</td>
                </tr>
    </table>
</div>
