@page
@model IndexModel
@{
    ViewData["Title"] = "Kantinens Menu for uge 45";
}

<h2>Kantinens Menu for uge 45</h2>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Dag</th>
            <th>Varm ret</th>
            <th>Kold ret</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MenuItems)
        {
            <tr>
                <td>@item.RowKey</td>
                <td>@item.VarmRet</td>
                <td>@item.KoldRet</td>
            </tr>
        }
    </tbody>
</table>
