@page
@model IndexModel
@{
    ViewData["Title"] = "Kantinens Menu for uge 45";
}

<h2>Kantinens Menu for uge 45</h2>

<table>
    <thead>
        <tr>
            <th>Dag</th>
            <th>Varm ret</th>
            <th>Kold ret</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MenuItems)
        {
            <tr>
                <td>@item.RowKey</td>
                <td>@item.VarmRet</td>
                <td>@item.KoldRet</td>
            </tr>
        }
    </tbody>
</table>
